@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaBlack.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaBlackItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaMedium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaMediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaRegular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaRegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaLight.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaLightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaThin.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/CanelaThinItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeHeavy.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeHeavyItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeBlack.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeBlackItalic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeExtraBold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeExtraBoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeMedium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeMediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeRegular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeLight.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeLightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeUltraLight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeUltraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeExtraLightItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeThin.otf");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "Nominee";
  src: url("../../assets/fonts/NomineeThinItalic.otf");
  font-weight: 50;
  font-style: italic;
}
